<% provide :title, t(".page_title") %>
<h1><%= t ".page_title" %></h1>
<p>
  <%= t ".message_html",
    rails_ref: link_to(t("tut_link"), "http://www.railstutorial.org/"),
    book_ref: link_to(t(".book_link"), "http://www.railstutorial.org/book"),
    screencast_ref: link_to(t(".screencast_link"),
      "http://screencasts.railstutorial.org/"),
    ror_ref: link_to(t(".ror_link"), "http://rubyonrails.org/")
  %>
</p>
