<% provide :title, t(".page_title") %>
<h1><%= t ".page_title" %></h1>
<p>
  <%= t ".message_html",
    help: link_to(t(".help_link"), "http://www.railstutorial.org/help"),
    book: link_to(t(".book_link"), "http://www.railstutorial.org/book") %>
</p>
